@import "colours";

// Variables
$spacing: 20px;
$spacing-items: 15px;
$height: 70px;
$width: 500px;
$animation-time: 1s;
$layer-height: 4px;
$layer-width: 40px;
$layer-radius: 4px;

// Hamburgers
$hamburger-layer-color: $orange;
$hamburger-types: (slider);
$hamburger-padding-x: $spacing;
$hamburger-padding-y: $spacing;
$hamburger-layer-height: $layer-height;
$hamburger-layer-width: $layer-width;
$hamburger-layer-border-radius: $layer-radius;
@import "~hamburgers/_sass/hamburgers/hamburgers";

// Fonts
@font-face {
  font-family: INGMeWeb-Regular;
  src: url(/assets/INGMeWeb-Regular.woff);
}

// Mixins
@mixin border-bottom {
  border-bottom: 1px solid lightgrey;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: INGMeWeb-Regular;
}

body {
  background: rgba(black, .05);
}

button {
  font-family: inherit;
}

nav {
  height: 100%;
}

.menu {
  min-height: $height;
  margin-left: auto;
  background: white;
  box-shadow: rgba(black, .5) 0 0 3px 0;
  
  &.__closed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    
    &.__hidden {
      z-index: -1;
    }
  }
  
  &.__transitioning {
    display: flex;
    max-width: $width;
    justify-content: space-between;
    clip-path: circle(0 at calc(100% - #{$spacing*2}) #{$spacing});
    flex-direction: row-reverse;
    height: 100%;
    transition: clip-path $animation-time;
    top: 0;
    position: absolute;
    right: 0;
    width: 500px;

    &.__shown {
      box-shadow: none;
      clip-path: circle(200% at calc(100% - #{$spacing}) #{$spacing});
    }

    .hamburger {
      position: absolute;
      top: 1px;
    }
  }
  
  &.__opened {
    max-width: $width;
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity $animation-time / 4;
    
    &.__shown {
      opacity: 100;
    }
    
    .menu-swipeable-wrapper {
      background: white;
      height: 100%;
      overflow-y: hidden;
      position: absolute;
      width: 100%;
      animation-duration: $animation-time / 2;

      &.__hidden {
        transform: translate3d(100%, 0, 0);
        display: none;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $height;

      &.__with-border {
        @include border-bottom;
      }

      .chevron {
        padding: $spacing;
      }
    }

    .sub-header {
      @include border-bottom;      

      .button-wrapper {
        display: inline-block;
        width: 50%;
        padding: $spacing ($spacing / 2);
        padding-top: 0;
        box-sizing: border-box;

        &:first-child {
          padding-left: $spacing;
        }

        &:last-child {
          padding-right: $spacing;
        }
      }
    }
  }

  .menu-items-wrapper {
    &:not(:last-child) {
      @include border-bottom;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;

    .menu-item {
      color: #333;
      font-size: 18px;
      padding: $spacing-items;
      min-height: $height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      transition: background .3s;

      &:hover {
        background: darken(white, 10%);
      }

      &.__has-icon {
        display: block;
        line-height: $height;
        padding: 0 $spacing-items;
        padding-left: $spacing * 2 + $spacing-items;
        position: relative;

        i {
          opacity: .5;
          position: absolute;
          left: $spacing-items;
        }
      }

      &.__submenu {
        font-weight: bold;
        font-size: 22px;
        padding: $spacing;
        line-height: normal;

        &.__has-icon {
          padding-left: $spacing * 3;

          i {
            left: $spacing;
          }
        }

        .description {
          margin: $spacing-items 0 0 0;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }

  .menu-scrollable-wrapper {
    height: calc(100% - #{$height});
    overflow-y: auto;
  }
  
  #main-submenu .menu-scrollable-wrapper {
    height: calc(100% - #{$height} * 2 + #{$spacing} / 4);
  }

  .menu-footer {
    color: $orange;
    text-align: center;
    padding: $spacing * 2 $spacing;

    h1 {
      margin: 0 0 $spacing 0;
    }

    button {
      background: $orange;
      color: white;
      padding: 10px 40px;
      border: none;
      border-radius: 10px;
      font-size: 19px;
    }
  }

  .logo {
    max-width: 100px;
    margin: $spacing;
  }

  .button {
    font-size: 19px;
    color: white;
    background: $indigo;
    border: 1px solid $indigo;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    transition: background .3s;
    cursor: pointer;

    &:hover {
      background: darken($indigo, 10%);
    }

    &.outline {
      background: white;
      color: $indigo;

      &:hover {
        background: darken(white, 10%);
      }
    } 
  }

  .chevron {
    &::before,
    &::after {
      content: '';
      width: $layer-width / 2;
      height: $layer-height;
      display: block;
      background: $orange;
      position: relative;
      border-radius: $layer-radius;

    }
    
    $rotation: 45deg;
    $separation: -4px;
    
    &::before {
      transform: rotate($rotation);
      top: $separation;
    }
    &::after {
      transform: rotate(-$rotation);
      bottom: $separation;
    }

    &.__left {
      &::before {
        transform: rotate(-$rotation);
      }
      &::after {
        transform: rotate($rotation);
      }
    }

  }

}

// At the end to override any style defined before
@import "styles-for-IE11";